


<ion-content>
  
  <ion-list>
    <ion-list-header>
      <ion-label>#ejemplo factura</ion-label>
    </ion-list-header>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>
          Categoria
        </ion-label>
      </ion-item-divider>
  
      <ion-item>
        <ion-label>id</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Nombre</ion-label>
      </ion-item>
    </ion-item-group>
  
    <ion-item-group>
      <ion-item-divider>
        <ion-label>
          Producto
        </ion-label>
      </ion-item-divider>
  
      <ion-item>
        <ion-label>Id</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Nombre</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Detalle</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Precio</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Categoria</ion-label>
      </ion-item>
    </ion-item-group>


    <ion-item-group>
      <ion-item-divider>
        <ion-label>
          Item
        </ion-label>
      </ion-item-divider>
  
      <ion-item>
        <ion-label>id</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Detalle</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Producto_Id</ion-label>
      </ion-item>
    </ion-item-group>
  
  </ion-list>
  <ion-tabs>
    <ion-router-outlet></ion-router-outlet>
  
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <a [routerLink]="['/facturas']" routerLinkActive="router-link-active">lista de facturas</a> 
        <ion-icon name="checkbox-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="radio">
        <a [routerLink]="['/registrar-factura']" routerLinkActive="router-link-active">Registrar nueva factura</a> 
        <ion-icon name="reader-outline"></ion-icon>
        
      </ion-tab-button>
      <ion-tab-button tab="radio" >
        <a [routerLink]="['/']" routerLinkActive="router-link-active">cerrar sesion</a> 
        <ion-icon name="exit-outline"></ion-icon>
      
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
 
  
</ion-content>