
.header-login {
    text-align: left;
    margin-bottom: 40px;
}

.box-form {
    margin-bottom: 30px;
}

.text-izq {
    text-align: left !important;
}

.boton {
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}

.tamaño-letra {
    font-size: 10px !important;
}

.enlace-ingreso {
    margin-bottom: 80px;
}