<ion-header>
  <!--<ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>-->
</ion-header>

<ion-content class="ion-padding" class="contenido-registro">

  <ion-card class="card-center">

    <p class="volver"><a [routerLink]="['/home']" routerLinkActive="router-link-active"><ion-icon name="chevron-back-outline"></ion-icon></a></p>

    <ion-card-header>
      <ion-card-title class="title-registro">Registro</ion-card-title>
      <ion-card-subtitle class="subtitulo">Crea tu usuario llenando los siguientes datos.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-list>
        <ion-item class="box-form">
          <ion-label><ion-icon name="person-outline"></ion-icon></ion-label>
          <ion-input placeholder="Ingrese nombre completo"></ion-input>
        </ion-item>

        <ion-item class="box-form">
          <ion-label>
            <ion-icon name="mail-outline"></ion-icon>
          </ion-label>
          <ion-input placeholder=" Email" [value]=""></ion-input>
        </ion-item>

        <ion-item class="box-form">
          <ion-label>
            <ion-icon name="keypad-outline"></ion-icon>
          </ion-label>
          <ion-input type="password" placeholder="Password"></ion-input>
        </ion-item>


      </ion-list>

      <section class="bloque-registro">
        <ion-button expand="block" class="boton">Crear Cuenta</ion-button>

        <p>¿Ya tienes cuenta? <a [routerLink]="['/home']" routerLinkActive="router-link-active">Inicia sesión</a> </p>
      </section>

    </ion-card-content>
  </ion-card>



</ion-content>