.contenido-registro{
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .title-registro{
    margin-top: 25px;
    margin-bottom: 20px;
    text-decoration:dashed;
    font-size: 32px;
  }
  
  .subtitulo{
    font-size: 11px;
    margin-bottom: 50px;
  }
  
  .box-form{
    margin-bottom: 30px;
  }
  
  .bloque-registro{
    margin-top: 50px;
    text-align: center;
  }
  
  .boton{
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 25px;
  }
  
  .card-center{
    display:block;
    margin: 0 auto;
    height: 100%;
  }
  
  .volver{
    margin-top: 20px;
    margin-left: 15px;
    font-size: 32px;
  }
  